body {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    }
    h1, h2,  h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        color: black;
        white-space:pre-wrap;
      }

h3{
    padding-top: 170px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-family: "Playfair Display";
    color: #253551;
}

p{
    text-align: center;
    color: #253551;
    text-decoration: none;
    font-family: mySixthFont;
    font-size: 120%;
}
@font-face {
    font-family: myFirstFont;
    src: url(pecita.book.otf);
    font-family: mySecondFond;
    src: url(LibreBaskerville-Italic.ttf);
    font-family: myThirdFont;
    src:url(LibreBaskerville-Regular.ttf);
    font-family:myFourthfont;
    src:url(Playball-Regular.ttf);
    font-family: myFifthFont;
    src: url(Alegreya-Italic.ttf);
    font-family: mySixthFont;
    src: url(ReenieBeanie-Regular.ttf);
  }